/*
 * This file is part of the Digital Planning Register project.
 *
 * Digital Planning Register is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Digital Planning Register is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Digital Planning Register. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/styles/component-base";
@import "node_modules/govuk-frontend/dist/govuk/core/index";
@import "node_modules/govuk-frontend/dist/govuk/components/tag/index";

.dpr-tag {
  @extend .govuk-tag;
  max-width: fit-content;

  // when the component is use 'inline' the padding is removed for the --none modifier
  &--inline {
    &.dpr-tag--none {
      padding-left: 0;
      padding-right: 0;
    }
  }

  &--none {
    background-color: transparent;
    color: inherit;
  }

  &--neutral {
    // @extend .govuk-tag--blue;
    // @extend .govuk-tag--light-blue;
    background-color: #d2e2f1;
    color: #144e81;
  }

  &--negative {
    @extend .govuk-tag--red;
    color: #942514;
  }

  &--positive {
    @extend .govuk-tag--green;
  }
}
