.osl-map > * {
  width: 28rem;
  height: 14rem;

  @media screen and (min-device-width: 1090px) {
    height: 20rem;
  }
  display: table-cell;
}

.osl-map {
  margin-bottom: 2rem;
}
.app-map {
  display: block;
  width: 100%;
  margin-bottom: 2rem;
}

// :host {
//   display: block;
//   width: 288px;
//   height: 320px;
//   position: relative;
// }
.shadow-map {
  width: 28rem;
  height: 14rem;

  @media screen and (min-device-width: 1090px) {
    height: 20rem;
  }
  background-color: transparent;
  display: table-cell;
}
