@import "src/styles/component-base";
@import "node_modules/govuk-frontend/dist/govuk/components/pagination/index";

.pagination-section {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  min-width: 15rem;
}

.pagination-button {
  color: #1d70b8;
  background: transparent;
  border: none;
  text-decoration: underline;
}

.active-page {
  background-color: #1d70b8;
  font-weight: 700;
  color: white !important;
}

.page-item {
  list-style-type: none;
  color: #1d70b8;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
}

.page-link {
  padding: 10px 18px;
  text-decoration: underline;
}

.page-link:hover {
  background-color: #f3f2f1;
  color: #003078;
}

.pagination-next-previous {
  text-decoration: underline;
  color: #1d70b8;
}

.pagination-next-previous:hover {
  color: #003078;
}
.page-link:hover .pagination-next-previous {
  color: #003078;
}
.pagination-icon {
  display: flex;
  gap: 15px;
  align-items: center;
}
