@import "src/styles/component-base";
@import "node_modules/govuk-frontend/dist/govuk/components/hint/index";

.dpr-document-card {
  p {
    word-wrap: break-word;
  }
}

.document-title-link {
  word-wrap: break-word;
}

// Documents
.file-icon {
  width: 100%;
  height: auto;
  max-width: 6.25em;
}

@media screen and (max-device-width: 40.0625em) {
  .file-icon {
    margin: 3rem 0 1rem 0;
    display: block;
  }
}
