.button-link-change {
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25;
    background-color: transparent;
    border: none
}

@media (min-width: 40.0625em) {
    .button-link-change {
        font-size: 1.1875rem;
        line-height: 1.3157894737;
    }
}

.button-link-change:visited {
    color: #4c2c92;
}

.button-link-change:hover {
    color: #4c2c92;
    cursor: pointer;
}