@use "../utils";

// Sentiment icons (comment submission workflow)
$dsn-sentiment-icons: (
  "opposed": #aa2a16,
  "neutral": #1d70b8,
  "support": #00703c,
) !default;

.dsn-sentiment {
  // change the default checkboxes to row not col
  display: flex;
  flex-direction: row;
  gap: 3rem;

  // hide the gov uk radio button styling
  .govuk-radios__input {
    @extend %visually-hidden;
  }
  .govuk-radios__label::before,
  .govuk-radios__label::after {
    display: none;
  }
  // save messing around with last of type completely
  .govuk-radios__item {
    margin-bottom: 0px;
  }

  // everything visible lives in the label - structure it here
  .govuk-radios__label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: inherit;
    align-items: center;

    > span {
      flex: 1;
    }
  }

  .dsn-sentiment .govuk-radios__input:checked {
    border: 1px solid red;
  }

  // icons are transparent by default
  .dsn-sentiment__icon {
    color: transparent;
  }

  // on focus we give the whole label a yellow background
  .govuk-radios__input:focus-visible + .govuk-radios__label {
    border-width: 4px;
    outline: 3px solid transparent;
    outline-offset: 1px;
    box-shadow: 0 0 0 4px #ffdd00;
    background-color: #ffdd00;
  }

  // when one is checked we make it 💅 colourful 💅
  @each $name, $color in $dsn-sentiment-icons {
    .govuk-radios__input:checked
      + .govuk-radios__label
      .dsn-sentiment__icon.#{$name}-face {
      color: $color;
    }

    // because :checked is applied when an element is in a 'selected'
    // state not actually just checked we need to override the colours to make the icons white when focus is applies
    // when one is focused we don't want it to be colourful :(
    .govuk-radios__input:focus-visible
      + .govuk-radios__label
      .dsn-sentiment__icon.#{$name}-face {
      color: white;
    }
  }
}
