@import "src/styles/component-base";
@import "node_modules/govuk-frontend/dist/govuk/components/button/index";

.dpr-text-button {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.25;
  background-color: transparent;
  border: none;

  @media (min-width: 40.0625em) {
    font-size: 1.1875rem;
    line-height: 1.3157894737;
  }

  &.dpr-text-button--plain {
    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
      color: govuk-color("black");
    }
  }
}
