@import "src/styles/component-base";

// Info icons - used on the application page to link to relevant guidance
.info-icon {
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  display: inline-block;
  position: relative;
  color: $govuk-brand-colour;
  margin-left: 0.4rem;

  > svg {
    position: absolute;
    width: 100%;
    height: 100%;
  }

  &:hover,
  &:focus {
    outline: $govuk-focus-width solid transparent;
    color: $govuk-focus-colour;
    background-color: $govuk-focus-text-colour;
    box-shadow: 0 0 0 4px $govuk-focus-text-colour;
    text-decoration: none;
    box-decoration-break: clone;
  }
}
