@import "src/styles/component-base";

// Info icons - used on the application page to link to relevant guidance
.info-icon {
  display: inline-block;
  font-size: 0.8em;
  border-radius: 50%;
  height: 1.3em;
  width: 1.3em;

  background: white;
  color: govuk-colour("blue");
  text-align: center;
  text-decoration: none;

  margin-left: 5px;
  aspect-ratio: 1;

  &:hover {
    background: govuk-colour("black");
    box-shadow: none;
    outline: 3px solid govuk-colour("black");
    color: govuk-colour("yellow");
  }
  &:focus {
    background: govuk-colour("black");
    box-shadow: none;
    outline: 3px solid govuk-colour("black");
    color: govuk-colour("yellow");
  }
}
