.file-table {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-device-width: 1090px) {
  .file-table .govuk-grid-column-one-third-from-desktop {
    width: 50%;
  }
}

@media screen and (max-device-width: 40.0625em) {
  .file-table {
    display: block;
  }
  .file-table .govuk-grid-column-one-third-from-desktop {
    width: 100%;
  }
}

.documents-container {
  padding-top: 1.25em;
}
