@import "src/styles/component-base";
@import "node_modules/govuk-frontend/dist/govuk/core/index";

// currently used on the planning process page to amend the styles of list-heading

$selector: "dpr-content-sidebar";
.#{$selector} {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  div {
    padding: govuk-spacing(3) 0;
  }

  a {
    @extend .govuk-link;
    text-decoration: none;
    font-size: 1rem;
    &:hover {
      text-decoration: underline;
    }
  }

  // give everything bullets
  &__text {
    margin-left: 1.2em;
    position: relative;

    &:before {
      content: "—";
      position: relative;
      margin: 0 1em 0 -2em;
    }
  }

  // nest the bullets
  ul ul {
    margin-left: govuk-spacing(4);
    padding: 0;
  }

  &--with-headings {
    // first level text is bold with no bullet
    .#{$selector}__level--0 {
      > .#{$selector}__text {
        font-weight: bold;
        &:before {
          content: "";
        }
      }
    }
  }

  // remember the nearest scrolling ancestor and/or containing block will need flex to behave if using govuk-row
  @include govuk-media-query($from: desktop) {
    &--sticky {
      position: sticky;
      top: govuk-spacing(6);
    }
  }
}
