@import "src/styles/component-base";
@import "node_modules/govuk-frontend/dist/govuk/core/index";

.dpr-application-data-field {
  dd {
    @extend .govuk-body;
    display: flex;
    align-items: center;
    gap: $govuk-gutter-half;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
