/*
 * This file is part of the Digital Planning Register project.
 *
 * Digital Planning Register is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Digital Planning Register is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Digital Planning Register. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/styles/component-base";
@import "node_modules/govuk-frontend/dist/govuk/core/index";

$selector: dpr-impact-measures;
.#{$selector} {
  margin-bottom: govuk-spacing(4);
  background-color: $govuk-brand-colour;
  padding: govuk-spacing(6) govuk-spacing(6);
  // padding: $govuk-gutter-half * 2;
  color: govuk-colour("white");

  &__heading {
    @extend %govuk-heading-l;
    color: govuk-colour("white");
  }

  &__body {
    @extend %govuk-body-m;
    color: govuk-colour("white");
  }

  &__sections {
    margin-top: govuk-spacing(8);
    display: grid;
    grid-template-columns: 1fr;
    gap: govuk-spacing(6);
    row-gap: govuk-spacing(6);
    @include govuk-media-query($from: tablet) {
      grid-template-columns: 1fr 1fr;
    }
  }

  // section

  &__section-heading {
    @extend %govuk-heading-m;
    color: govuk-colour("white");

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    &:after {
      content: "";
      width: 64px;
      height: 64px;
      background-color: transparent;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      display: block;
    }
  }

  &__section-body {
    @extend %govuk-body-m;
    color: govuk-colour("white");
    *:last-of-type {
      margin-bottom: 0;
    }
    > * + * {
      margin-block-start: govuk-spacing(6);
    }
  }

  $sections: (
    "housing",
    "healthcare",
    "open-spaces",
    "jobs",
    "carbon",
    "access"
  );

  @each $section in $sections {
    &__section--#{$section} {
      .#{$selector}__section-heading:after {
        background-image: url("/images/impact/#{$section}.svg");
      }
    }
  }
}
