# This file is part of the Digital Planning Register project.
#
# Digital Planning Register is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# Digital Planning Register is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with Digital Planning Register. If not, see <https://www.gnu.org/licenses/>.

# Deployment
# Used to deploy application to heroku

#HEROKU_API_KEY=
#HEROKU_APP_NAME=
#HEROKU_EMAIL=

# Maps

OS_MAP_API_KEY=
OS_MAP_PROXY_URL=http://localhost:3000/proxy/ordnance-survey
#OS_MAP_ALLOWED_ORIGIN=http://localhost:3000

# Councils
# For each council there is a corresponding <COUNCIL>_API_KEY <COUNCIL>_API_URL (and <COUNCIL>_API_URL_V1 for the v1 end point for comments)

# barnet

BARNET_BOPS_API_KEY=
BARNET_BOPS_API_URL=

# buckinghamshire

BUCKINGHAMSHIRE_BOPS_API_KEY=
BUCKINGHAMSHIRE_BOPS_API_URL=

# camden

CAMDEN_BOPS_API_KEY=
CAMDEN_BOPS_API_URL=
CAMDEN_BOPS_API_URL_V1=

# gateshead

GATESHEAD_BOPS_API_KEY=
GATESHEAD_BOPS_API_URL=

# lambeth

LAMBETH_BOPS_API_KEY=
LAMBETH_BOPS_API_URL=

# southwark

SOUTHWARK_BOPS_API_KEY=
SOUTHWARK_BOPS_API_URL=
