/*
 * This file is part of the Digital Planning Register project.
 *
 * Digital Planning Register is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Digital Planning Register is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Digital Planning Register. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/styles/component-base";
@import "node_modules/govuk-frontend/dist/govuk/components/button/index";
@import "node_modules/govuk-frontend/dist/govuk/components/back-link/index";

// ^ remake of the above based on govuk scss
// @todo update all buttons to use this class

// Secondary blue button variables

$dpr-information-button-colour: govuk-colour("blue");
$dpr-information-button-text-colour: govuk-colour("white");
$dpr-information-button-hover-colour: govuk-shade(
  $dpr-information-button-colour,
  10%
);
$dpr-information-button-shadow-colour: govuk-shade(
  $dpr-information-button-colour,
  40%
);

// Because the shadow (s0) is visually 'part of' the button, we need to reduce
// the height of the button to compensate by adjusting its padding (s1) and
// increase the bottom margin to include it (s2).
$button-shadow-size: $govuk-border-width-form-element;

.govuk-button.dpr-button--information {
  background-color: $dpr-information-button-colour;
  box-shadow: 0 $button-shadow-size 0 $dpr-information-button-shadow-colour;

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $dpr-information-button-text-colour;
  }

  &:hover {
    background-color: $dpr-information-button-hover-colour;

    &[disabled] {
      background-color: $dpr-information-button-colour;
    }
  }
}
