@import "node_modules/govuk-frontend/dist/govuk/base";
@import "node_modules/govuk-frontend/dist/govuk/components/button/index";
@import "node_modules/govuk-frontend/dist/govuk/components/back-link/index";

.govuk-button--secondary.blue-button {
  background: govuk-colour("blue");
  color: white;
  box-shadow: 0 2px 0 #001e37;
}
.govuk-button--secondary.blue-button:hover {
  background: #095ba1;
  color: white;
}
