@import "src/styles/component-base";

$selector: "dpr-application-hero";

.#{$selector} {
  margin-bottom: govuk-spacing(6);

  &__head {
    margin-bottom: govuk-spacing(6);
  }

  // map and data
  &__map {
    @include govuk-grid-column("one-third", $at: desktop);
    margin-bottom: govuk-spacing(6);
  }
  &__data {
    @include govuk-grid-column("two-thirds", $at: desktop);
  }

  @include govuk-media-query($from: desktop) {
    &__map {
      margin-bottom: 0;
    }
  }

  &__fields {
    display: grid;
    grid-template-columns: 1fr;
    gap: $govuk-gutter-half * 2;
    @include govuk-media-query($from: desktop) {
      grid-template-columns: 1fr 1fr;
    }
  }
}
