/*
 * This file is part of the Digital Planning Register project.
 *
 * Digital Planning Register is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Digital Planning Register is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Digital Planning Register. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/styles/component-base";

$selector: "dpr-application-hero";

.#{$selector} {
  // map and data
  &__map-data {
    display: flex;
    flex-direction: column;
    gap: $govuk-gutter-half * 2;
    margin-bottom: govuk-spacing(6);

    @include govuk-media-query($from: desktop) {
      flex-direction: row;
    }
  }

  @include govuk-media-query($from: desktop) {
    &__map {
      margin-bottom: 0;
    }
  }

  &__fields {
    display: grid;
    grid-template-columns: 1fr;
    gap: $govuk-gutter-half * 2;
    @include govuk-media-query($from: desktop) {
      gap: $govuk-gutter-half * 3;
      grid-template-columns: 1fr 1fr;
    }

    .dpr-application-data-field--address {
      grid-column: 1 / -1;
    }

    .dpr-application-data-field--full {
      grid-column: 1 / -1;
    }
  }
}
