@import "node_modules/govuk-frontend/dist/govuk/base";
@import "node_modules/govuk-frontend/dist/govuk/components/button/index";

// Logos on the landing page
.logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  gap: 20px;
}
.logos-container a {
  width: 30%;
  min-width: 270px;
}
.logos-container a img {
  max-height: 50px;
  width: auto;
}

@media (max-width: 40.0625em) {
  .logos-container a {
    width: 100%;
  }
}
