@import "src/styles/component-base";

$selector: "dpr-application-details";
.#{$selector} {
  &--flow > * + * {
    margin-block-start: govuk-spacing(6);
  }

  &__sidebar {
    > * {
      margin-bottom: govuk-spacing(6);
    }
  }

  @include govuk-media-query($from: desktop) {
    &--sticky {
      .#{$selector}__sidebar {
        position: sticky;
        top: govuk-spacing(6);
      }
    }
  }
}
