@import "src/styles/component-base";

.search-card {
  background: govuk-colour("light-grey");
  border: 0.125em solid white;
  padding: 1.25em 0.625em 0 0.625em;
}

.search-card .govuk-grid-row {
  margin-bottom: 1em;
}
