/*
 * This file is part of the Digital Planning Register project.
 *
 * Digital Planning Register is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Digital Planning Register is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Digital Planning Register. If not, see <https://www.gnu.org/licenses/>.
 */

// classes that are likely redundant now

// from components.scss

.backlink {
  border: none;
  background-color: white;
}
.backlink:hover {
  cursor: pointer;
}

.application-content-info {
  display: flex;
  flex-direction: column;
}

.application-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.application-info-grid p {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.application-info-grid span {
  font-weight: bold;
  padding: 0 0 5px;
}

.application-info-grid :nth-child(2n) {
  grid-row: 1;
}

.application-info-grid :nth-child(2n + 3) {
  grid-row: 2;
}

.boundary-map {
  border: 2px solid black;
  width: 130px;
  text-align: center;
  padding: 10px;
  grid-row-start: 1;
  grid-row-end: 3;
  gap: 10px;
}

.application-content-button {
  padding: 20px 0;
  display: flex;
  max-width: 60rem;
  justify-content: space-between;
}

.landing-map {
  margin-bottom: 2em;
}

@media (max-width: 640px) {
  .landing-map {
    margin-bottom: 1em;
  }
}

// from landing.scss

.landing-table-content {
  width: 100%;
}
.landing-table-content tr td {
  padding: 10px;
  text-align: left;
  max-width: max-content;
}

.landing-table-content th {
  padding: 10px;
  text-align: left;
}

.landing-table-content a {
  color: #1d70b8;
  text-decoration: underline;
  display: block;
  max-width: 150px;
  word-break: break-all;
}

.landing-table-content p {
  display: flex;
  align-items: center;
  width: min-content;
}

.landing-table-content span {
  margin-left: 5px;
}

.landing-table-content :nth-child(4) p {
  min-width: max-content;
}

.search-application-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-application-content input {
  padding: 10px;
  height: 47px;
}

.search-application-content button {
  margin-left: 20px;
  padding: 10px 20px;
  height: 45px;
}

.search-application-content a {
  color: #1d70b8;
  text-decoration: underline;
}

.search {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='%23505a5f'%3E%3C/path%3E%3C/svg%3E");
  background-size: 40px 40px;
  background-position: center left -2px;
  padding-left: 35px;
  background-repeat: no-repeat;
  width: 100%;
}

.responsive-table-row h2 {
  display: none;
}
.responsive-table-row.responsive-table-header,
.responsive-table-row.responsive-table-header h2 {
  display: flex;
}
.responsive-table-header:hover {
  background-color: govuk-colour("light-grey");
}
.responsive-table-row {
  padding-top: 20px;
  margin: 0 0 0 0;
}
@media (max-width: 1190px) {
  .responsive-table-row:nth-child(odd):hover {
    background-color: white;
  }
  .responsive-table-row.responsive-table-header {
    display: none;
  }
}

@media (max-width: 1190px) {
  .responsive-table-row div {
    width: 100%;
  }
  .responsive-cell {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .responsive-cell h2,
  .responsive-cell p {
    width: 50%;
  }
}

@media (max-width: 40.0625em) {
  .responsive-cell {
    width: 100% !important;
    display: block;
  }
  .responsive-cell h2,
  .responsive-cell p {
    width: 100%;
  }
}

.item {
  padding: 20px 0;
  width: 100%;
}

@media (min-width: 1190px) {
  .item:nth-of-type(n) h2 {
    display: none;
  }
  .item:hover {
    background-color: govuk-colour("light-grey");
  }
}
@media (max-width: 1190px) {
  .item:nth-of-type(n) h2 {
    display: block;
  }
  .item:nth-of-type(even) {
    background-color: govuk-colour("light-grey");
  }
}

// from layout.scss

.icon {
  display: flex;
  gap: 15px;
  align-items: center;
}

.govuk-header__navigation-list {
  margin: 0 auto;
}
@media (max-width: 1090px) {
  .govuk-header__navigation-list {
    margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
  }
}
@media (max-width: 40.0625em) {
  .govuk-header__navigation-list {
    margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
  }
}

.govuk-header__navigation {
  background-color: govuk-colour("light-grey");
  border-bottom: 1px solid #b1b4b6;
  margin: 10px 0 0 0;
}

.govuk-header__navigation-item {
  box-sizing: border-box;
  height: 3.125rem;
  padding: 0 15px;
  line-height: 50px;
  margin: 0 3px;
  border: none;
}

@media (min-width: 48.0625em) {
  .govuk-header__navigation-item.current-item {
    border-bottom: 4px solid #1d70b8;
  }
}

@media (max-width: 768px) {
  .govuk-header__navigation-item {
    margin: 0;
    padding-left: 0;
  }
}

.nav-link,
.nav-link:visited {
  color: #1d70b8 !important;
  font-weight: 700;
  font-size: 1.1875rem !important;
  margin: 15px 0;
}


// navigation
.menu-toggle {
  display: none;
}