.backlink {
  border: none;
  background-color: white;
}
.backlink:hover {
  cursor: pointer;
}

.application-content-info {
  display: flex;
  flex-direction: column;
}

.application-info-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.boundary-map {
  border: 2px solid black;
  width: 130px;
  text-align: center;
  padding: 10px;
  grid-row-start: 1;
  grid-row-end: 3;
  gap: 10px;
}

.application-info-grid p {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.application-info-grid span {
  font-weight: bold;
  padding: 0 0 5px;
}

.application-info-grid :nth-child(2n) {
  grid-row: 1;
}

.application-info-grid :nth-child(2n + 3) {
  grid-row: 2;
}

.application-content-button {
  padding: 20px 0;
  display: flex;
  max-width: 60rem;
  justify-content: space-between;
}

.grid-row-extra-bottom-margin {
  margin-bottom: 2rem;
}

.key-info .govuk-grid-row {
    display:flex;
    flex-wrap: wrap;
}

.key-info .govuk-grid-row .govuk-grid-column-one-quarter {
    margin-bottom:1.5rem;
}

.documents-container {
  padding-top: 20px;
}

@media (max-width: 1090px) { 
    .app-map {
        display:block;
        width:100%;
        margin-bottom:2rem;
    }
    .govuk-grid-column-three-quarters.key-info {
        width:100%;
    }
}
@media (max-width: 860px) {
    .key-info .govuk-grid-row .govuk-grid-column-one-quarter {
        width:33%;
    }
} 
@media (max-width: 720px) {
    .key-info .govuk-grid-row .govuk-grid-column-one-quarter {
        width:50%;
    }
} 
@media (max-width: 40.0625em) { 
    .key-info .govuk-grid-row .govuk-grid-column-one-quarter {
        width:100%;
    }
}

// Documents
.file-icon {
  width: 100%;
  height: auto;
  max-width: 100px;
}
.file-table {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 1090px) {
  .file-table .govuk-grid-column-one-third-from-desktop {
    width: 50%;
  }
}
@media (max-width: 40.0625em) {
  .file-icon {
    margin: 3rem 0 1rem 0;
    display: block;
  }
  .file-table {
    display: block;
  }
  .file-table .govuk-grid-column-one-third-from-desktop {
    width: 100%;
  }
}

// Comments
.comment {
  border-left: 5px solid govuk-colour("mid-grey");
  margin-left: 15px;
}
.comment-container {
  max-height: 25rem;
  overflow: hidden;
}
label.comment-expander {
  color: govuk-colour("blue");
  margin-top: 2em;
  display: block;
  position: relative;
}
label.comment-expander::before {
  content: "...";
  display: block;
  position: absolute;
  color: govuk-colour("black");
  top: -2rem;
  font-size: 19px;
}
input[type="checkbox"].show-comment:checked ~ .comment-expander::before {
  display: none;
}
input[type="checkbox"].show-comment {
  display: none;
}
input[type="checkbox"].show-comment:checked + .comment-container {
  max-height: 100000rem;
  padding-bottom: 0;
}
input[type="checkbox"].show-comment:checked + .comment-container::after {
  content: "";
}
input[type="checkbox"].show-comment:checked ~ .comment-expander {
  margin-top: 0;
}
input[type="checkbox"].show-comment:checked
  ~ .comment-expander
  > .read-comment {
  display: none;
}
input[type="checkbox"].show-comment ~ .comment-expander > .hide-comment {
  display: none;
}
input[type="checkbox"].show-comment:checked
  ~ .comment-expander
  > .hide-comment {
  display: inline;
}
