.landing-table-content {
    width: 100%;
}
.landing-table-content tr td{
    padding: 10px;
    text-align: left;
    max-width: max-content;
}

.landing-table-content th{
    padding: 10px;
    text-align: left;
}

.landing-table-content a{
    color: #1D70B8;
    text-decoration: underline;
    display: block;
    max-width: 150px;
    word-break: break-all;
    
}

.landing-table-content p{
    display: flex;
    align-items: center;
    width: min-content;
}

.landing-table-content span{
    margin-left: 5px;
}

.landing-table-content :nth-child(4) p {
    min-width: max-content ;
}

.search-application-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-application-content input{
    padding: 10px;
    height: 47px;
}

.search-application-content button{
    margin-left: 20px;
    padding: 10px 20px;
    height: 45px;
}

.search-application-content a{
    color: #1D70B8;
    text-decoration: underline;
}

.pagination-section {
width: fit-content;
display: flex;
align-items: center;
margin-top: 20px;
padding: 10px;
}

.pagination {
  display: flex;
  justify-content: space-between;
  min-width: 15rem;
}

.pagination-button {
  color: #1d70b8;
  background: transparent;
  border: none;
  text-decoration: underline;
}

.active-page {
  background-color: #1d70b8;
  font-weight: 700;
  color: white !important;
}

.page-item {
  list-style-type: none;
  color: #1d70b8;
  text-decoration: underline;
  cursor: pointer;
  display: flex;
}

.page-link {
  padding: 10px 18px;
}

.search {
    background-image:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 36 36' width='40' height='40'%3E%3Cpath d='M25.7 24.8L21.9 21c.7-1 1.1-2.2 1.1-3.5 0-3.6-2.9-6.5-6.5-6.5S10 13.9 10 17.5s2.9 6.5 6.5 6.5c1.6 0 3-.6 4.1-1.5l3.7 3.7 1.4-1.4zM12 17.5c0-2.5 2-4.5 4.5-4.5s4.5 2 4.5 4.5-2 4.5-4.5 4.5-4.5-2-4.5-4.5z' fill='%23505a5f'%3E%3C/path%3E%3C/svg%3E");
    background-size:40px 40px;
    background-position:center left -2px;
    padding-left: 35px;
    background-repeat: no-repeat;
    width: 100%;
}

.search-bar-buttons {
    margin-top: 30px;
}

.responsive-table-row h2 {
    display:none;
}
.responsive-table-row.responsive-table-header,
.responsive-table-row.responsive-table-header h2  {
    display:flex;
}
.responsive-table-header:hover {
    background-color:govuk-colour("light-grey");
}
.responsive-table-row {
    padding-top:20px;
    margin:0 0 0 0;
}
.item {
    padding:20px 0;
    width:100%;
}

@media (min-width: 1190px) {
    .item:nth-of-type(n) h2 {
      display:none;
    }
    .item:hover {
        background-color:govuk-colour("light-grey");
    }
}
@media (max-width: 1190px) {
    .responsive-table-row:nth-child(odd):hover {
        background-color:white;
    }
    .responsive-table-row.responsive-table-header {
        display: none;
    }
    .item:nth-of-type(n) h2 {
      display:block;
    }
    .item:nth-of-type(even) {
        background-color:govuk-colour("light-grey");
    }
    .responsive-table-row div {
        width:100%;
    }
    .responsive-cell {
        width:100%;
        display:flex;
        flex-direction: row;
    }
    .responsive-cell h2, 
    .responsive-cell p {
        width:50%;
    }
}

@media (max-width: 40.0625em) {
    .responsive-cell {
        width:100%!important;
        display:block;
    }
    .responsive-cell h2, 
    .responsive-cell p {
        width:100%;
    }
}

// Navigation restyle
.govuk-header__navigation {
    background-color:govuk-colour("light-grey");
    border-bottom: 1px solid #b1b4b6;
    margin:10px 0 0 0;
}

.govuk-header__navigation-item {
    box-sizing: border-box;
    height: 3.125rem;
    padding: 0 15px;
    line-height: 50px;
    border:none;
}

.nav-link,
.nav-link:visited {
    color: #1d70b8 !important;
    font-weight: 700;
    font-size: 1.1875rem!important;
    margin: 15px 0;
}

@media (min-width: 48.0625em) {
    .govuk-header__navigation-item.current-item {
        border-bottom: 4px solid #1d70b8;
    }
}