.menu {
  display: none;
}
.govuk-width-container {
  max-width: 90%;
  margin-right: 15px;
  margin-left: 15px;
}
@supports (margin: max(calc(0px))) {
  .govuk-width-container {
    margin-right: max(15px, calc(15px + env(safe-area-inset-right)));
    margin-left: max(15px, calc(15px + env(safe-area-inset-left)));
  }
}

@media (min-width: 40.0625em) {
  .govuk-width-container {
    margin-right: 30px;
    margin-left: 30px;
  }
  @supports (margin: max(calc(0px))) {
    .govuk-width-container {
      margin-right: max(30px, calc(15px + env(safe-area-inset-right)));
      margin-left: max(30px, calc(15px + env(safe-area-inset-left)));
    }
  }
}

@media (min-width: 1020px) {
  .govuk-width-container {
    margin-right: auto;
    margin-left: auto;
  }
  @supports (margin: max(calc(0px))) {
    .govuk-width-container {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
@media (max-width: 1020px) {
  .menu {
    display: block;
  }
}

.container-menu {
  display: flex;
  align-items: center;
  background-color: #f3f2f1;
  border-bottom: 1px solid #b1b4b6;
  margin-left: auto;
}

.container-menu a {
  color: #1d70b8;
  padding: 14px;
  font-weight: bold;
}

.container-menu a:focus {
  border-bottom: 3px solid #1d70b8;
}

.icon {
  display: flex;
  gap: 15px;
  align-items: center;
}

// navigation
.menu-toggle {
  display: none;
}

.menu {
  display: none;
}

.menu-toggle:checked ~ .menu {
  display: block;
}

@media (max-width: 768px) {
  .menu-button {
    display: block;
  }
}

@media (min-width: 769px) {
  .menu-button {
    display: none;
  }

  .menu {
    display: block;
  }
}
