@import "src/styles/component-base";
// @todo theres a component now for this
@import "node_modules/govuk-frontend/dist/govuk/components/summary-list/index";

.faux-document {
  border: 0.0625em solid govuk-colour("mid-grey");
  margin-left: 0;
  margin-right: 0;
  padding: 2em 1em 1em;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
