/*
 * This file is part of the Digital Planning Register project.
 *
 * Digital Planning Register is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Digital Planning Register is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Digital Planning Register. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/styles/component-base";

.dpr-content-signposting__links {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;

  .dpr-content-signposting__links-item {
    position: relative;
    padding: govuk-spacing(4) govuk-spacing(6) govuk-spacing(3) 0;
    border-top: 1px solid govuk-colour("mid-grey");

    &:first-child {
      border-top: 0;
    }

    .dpr-content-signposting__topic-link {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      &::before {
        content: "";
        display: block;
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(0) rotate(45deg) scale(1);
        width: 7px;
        height: 7px;
        margin-top: 5px;
        border-right: 3px solid govuk-colour("blue");
        border-top: 3px solid govuk-colour("blue");
      }

      &:hover::before {
        border-color: govuk-colour("dark-blue");
      }
    }
  }
}
