@import "node_modules/govuk-frontend/dist/govuk/base";
@import "node_modules/govuk-frontend/dist/govuk/core/index";

// currently used on the planning process page to amend the styles of list-heading
.contents-bar {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  div {
    @extend .govuk-body;
  }

  a {
    @extend .govuk-link;
    text-decoration: none;
    font-size: 1rem;
    &:hover {
      text-decoration: underline;
    }
  }

  &__list-heading {
    font-weight: bold;
    margin-bottom: 0;
  }

  &__sub-list {
    margin-left: 2em;
    position: relative;
    margin-bottom: 1rem;

    &:before {
      content: "—";
      position: relative;
      margin: 0 1em 0 -2em;
    }
  }

  &__sub-sub-list {
    margin-left: 4em;
  }

  > ul > li {
    margin-bottom: 1.5rem;
  }

  li > ul {
    margin-top: 0.5rem;
  }
}
