/*
 * This file is part of the Digital Planning Register project.
 *
 * Digital Planning Register is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Digital Planning Register is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Digital Planning Register. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/styles/component-base";
@import "node_modules/govuk-frontend/dist/govuk/core/index";
@import "node_modules/govuk-frontend/dist/govuk/components/button/index";

.dpr-council-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: $govuk-gutter-half * 2;

  @include govuk-media-query($from: tablet) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include govuk-media-query($from: desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}

$button-shadow-size: $govuk-border-width-form-element;
$dpr-council-card-colour: govuk-colour("light-grey");
$dpr-council-card-text-colour: govuk-colour("black");
$dpr-council-card-hover-colour: govuk-shade($dpr-council-card-colour, 10%);
$dpr-council-card-shadow-colour: govuk-shade($dpr-council-card-colour, 40%);

.dpr-council-card {
  //simplified version of .govuk-button .govuk-button--secondary
  @extend .govuk-button;
  background-color: $dpr-council-card-colour;
  box-shadow: 0 $button-shadow-size 0 $dpr-council-card-shadow-colour;

  &,
  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $dpr-council-card-text-colour;
  }

  &:hover {
    background-color: $dpr-council-card-hover-colour;

    &[disabled] {
      background-color: $dpr-council-card-colour;
    }
  }

  // our custom styles
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: $govuk-gutter-half;

  > svg {
    width: 100%;
    height: 100%;
  }

  margin: 0;
  @include govuk-font($size: 24, $weight: bold);

  height: 160px;
  padding: govuk-spacing(3);

  &__title {
    @extend %govuk-body-m;
    margin: 0;
    padding: 0;
  }

  @include govuk-media-query($from: tablet) {
  }
}
