@import "src/styles/component-base";
@import "node_modules/govuk-frontend/dist/govuk/components/button/index";

@media screen and (min-device-width: 1024px) {
  .logos-container {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .logos-container a {
    width: 30%;
    min-width: 270px;
  }

  .logos-container a img {
    max-height: 50px;
    width: auto;
  }
}

@media screen and (max-device-width: 1023px) and (min-device-width: 769px) {
  .logos-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
  }

  .logos-container a {
    width: 45%;
  }

  .logos-container a img {
    max-height: 50px;
    width: auto;
  }
}

@media screen and (max-device-width: 768px) {
  .logos-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20px;
  }

  .logos-container a {
    width: 100%;
  }

  .logos-container a img {
    max-height: 50px;
    width: auto;
  }
}
