/*
 * This file is part of the Digital Planning Register project.
 *
 * Digital Planning Register is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Digital Planning Register is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Digital Planning Register. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/styles/component-base";
@import "node_modules/govuk-frontend/dist/govuk/objects/index";
@import "node_modules/govuk-frontend/dist/govuk/components/service-navigation/index";
@import "node_modules/govuk-frontend/dist/govuk/components/header/index";

$selector: "dpr-header";
$govuk-header-link-underline-thickness: 3px;
.#{$selector} {
  background-color: govuk-colour("black");

  // different layouts for councils enabled
  &--council {
    .#{$selector}__container {
      grid-template-areas:
        "council menu"
        "service menu";

      @include govuk-media-query($from: tablet) {
        grid-template-areas: "council service";
      }
    }
  }

  &__container {
    @include govuk-width-container;
    border-bottom: govuk-spacing(2) solid $govuk-brand-colour;
    padding: govuk-spacing(2) 0;
    display: grid;
    gap: $govuk-gutter-half;
    grid-template-areas: "service menu";

    grid-auto-flow: column;
    grid-auto-columns: fit-content;
    grid-row: auto;
  }

  // responsive and menu toggling

  &__menu {
    display: none;

    .#{$selector}--menu-open & {
      display: block;
    }

    @include govuk-media-query($from: tablet) {
      display: block;
    }
  }

  // based on .govuk-service-navigation__toggle
  &__menu-toggle {
    grid-area: menu;
    align-self: flex-start;
    justify-self: right;
    margin: 0;
    padding: 0;
    border: 0;
    color: govuk-colour("white");
    background: none;
    word-break: break-all;
    cursor: pointer;
    align-items: center;

    text-decoration: underline;
    text-decoration-thickness: $govuk-header-link-underline-thickness;

    @if $govuk-link-underline-offset {
      text-underline-offset: $govuk-link-underline-offset;
    }

    &:focus {
      @include govuk-focused-text;
    }

    &::after {
      @include govuk-shape-arrow(
        $direction: down,
        $base: 10px,
        $display: inline-block
      );
      content: "";
      margin-left: govuk-spacing(1);
    }

    &[aria-expanded="true"]::after {
      @include govuk-shape-arrow(
        $direction: up,
        $base: 10px,
        $display: inline-block
      );
    }

    // Ensure the button stays hidden if the hidden attribute is present
    &[hidden] {
      display: none;
    }

    @include govuk-media-query($from: tablet) {
      display: none;
    }
  }

  // logo styles

  &__logo {
    grid-area: council;
    justify-self: flex-start;
    max-height: 30px;
    > svg {
      height: 30px;
    }
  }

  // text and title styles

  &__link {
    @include govuk-link-style-inverse;

    text-decoration: none;

    &:hover {
      text-decoration: underline;
      text-decoration-thickness: $govuk-header-link-underline-thickness;

      @if $govuk-link-underline-offset {
        text-underline-offset: $govuk-link-underline-offset;
      }
    }

    &:focus {
      @include govuk-focused-text;
    }
  }

  &__council-name {
    grid-area: council;
    @include govuk-font-size($size: 24);
    justify-self: flex-start;
  }
  &__service-name {
    grid-area: service;
    @extend .dpr-header__council-name;
    @include govuk-typography-weight-bold;
  }
}
