/*
 * This file is part of the Digital Planning Register project.
 *
 * Digital Planning Register is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Digital Planning Register is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Digital Planning Register. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/styles/component-base";

.dpr-form-search {
  &__actions {
    // this mimics the govuk-label element on the other side of the grid so that the buttons stay aligned regardless of screen size
    &::before {
      @include govuk-font($size: 19);
      content: "Search by application reference, address or description";
      visibility: hidden;
      display: block;
    }
  }
  .govuk-button-group {
    margin-top: govuk-spacing(1);
  }
}
