// Desktop and zoom
@media screen and (min-device-width: 1091px) {
  section[aria-labelledby="application-information-section"] {
    .govuk-grid-row {
      display: flex;
      flex-wrap: nowrap;
    }

    .govuk-grid-column-one-third-from-desktop {
      flex: 0 0 33.33%;
    }

    .govuk-grid-column-two-thirds-from-desktop {
      flex: 0 0 66.66%;
    }

    // .app-map {
    //   flex: 0 0 33.33%;
    // }

    .key-info {
      .govuk-grid-row {
        flex-wrap: wrap;
      }

      .govuk-grid-column-one-half {
        flex: 0 0 50%;
        margin-bottom: 16px;
      }
    }
  }
}

@media screen and (max-device-width: 768px) {
  section[aria-labelledby="application-information-section"] {
    .govuk-grid-column-one-third-from-desktop,
    .govuk-grid-column-two-thirds-from-desktop,
    .key-info .govuk-grid-column-one-half {
      width: 100%;
    }
  }
}
