.key-info .govuk-grid-row {
  display: flex;
  flex-wrap: wrap;
}

.key-info .govuk-grid-column-one-half {
  margin-bottom: 1em;
}

@media (max-width: 1090px) {
  .govuk-grid-column-three-quarters.key-info {
    width: 100%;
  }
}
@media (max-width: 860px) {
  .key-info .govuk-grid-row .govuk-grid-column-one-quarter {
    width: 33%;
  }
}
@media (max-width: 720px) {
  .key-info .govuk-grid-row .govuk-grid-column-one-quarter {
    width: 50%;
  }
}
@media (max-width: 40.0625em) {
  .key-info .govuk-grid-row .govuk-grid-column-one-quarter {
    width: 100%;
  }
}
