@import "src/styles/component-base";

.dpr-comment-card {
  > div {
    border-left: 0.3125em solid govuk-colour("mid-grey");
    margin-left: 0.9375em;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  &:after {
    margin-top: 2rem;
    border-bottom: 0.0625em solid #b1b4b6;
  }

  &:last-of-type:after {
    border-bottom: none;
  }

  .read-more-ellipsis {
    margin-top: 0.5em;
    font-size: 1.1875rem;
  }

  .comment-expander {
    color: govuk-colour("blue");
    margin-top: 2em;
    position: relative;
    font-size: 1.1875rem;
    cursor: pointer;
    display: block;
    margin-top: 0.25em;
  }

  .comment-container-js {
    max-height: 25rem;
    overflow: hidden;
  }
}
