/*
 * This file is part of the Digital Planning Register project.
 *
 * Digital Planning Register is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Digital Planning Register is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Digital Planning Register. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/styles/component-base";

.dpr-application-form {
  border: 1px solid govuk-colour("mid-grey");
  // margin-left: 0;
  // margin-right: 0;
  // padding: 2em 1em 1em;
  padding: 1.5em;

  // add extra spacing between multiple <ul></ul><ul></ul>
  ul + ul {
    margin-top: govuk-spacing(8);
  }

  &__content {
    word-break: break-word;
  }
}
