/*
 * This file is part of the Digital Planning Register project.
 *
 * Digital Planning Register is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Digital Planning Register is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Digital Planning Register. If not, see <https://www.gnu.org/licenses/>.
 */

 @import "src/styles/component-base";
 @import "node_modules/govuk-frontend/dist/govuk/core/index";


 .dpr-comment-summary {

  &__list {
    li {
      padding-bottom: govuk-spacing(2);
      > a {
        &:focus {
          outline: none;
        }
        &:focus-within {
          span {
            @include govuk-focused-text;
          }
        }

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: govuk-spacing(2);

        > span {
          @extend %govuk-link;
          color: $govuk-link-colour;
        }
      }
    }
  }

   &--skeleton {
     background: rgba(145, 144, 141, 0.6);
     margin-bottom: govuk-spacing(3);
     animation: pulse 3s infinite;
     height: govuk-spacing(5);
     width: 25%;
     height: 200px;
   }
   }
 
 