/*
 * This file is part of the Digital Planning Register project.
 *
 * Digital Planning Register is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * Digital Planning Register is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with Digital Planning Register. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/styles/component-base";

$selector: "dpr-accordion";

.#{$selector} {
  $govuk-accordion-base-colour: govuk-colour("black");
  $govuk-accordion-hover-colour: govuk-colour("light-grey");
  $govuk-accordion-icon-focus-colour: $govuk-focus-colour;
  $govuk-accordion-bottom-border-width: 1px;

  &--no-controls {
    .#{$selector}__controls {
      display: none;
    }
  }

  &__controls {
    margin-bottom: govuk-spacing(2);
    @include govuk-media-query($from: tablet) {
      margin-bottom: govuk-spacing(3);
    }
  }

  // based on govuk accordion show-all button (w tweaks)
  &__toggle-button {
    @include govuk-font($size: 19);
    position: relative;
    z-index: 1;

    padding: 0;

    border-width: 0;

    color: $govuk-link-colour;
    background: none;

    cursor: pointer;
    -webkit-appearance: none;

    // Remove default button focus outline in Firefox
    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    &:hover {
      color: $govuk-accordion-base-colour;
      background: $govuk-accordion-hover-colour;
      // The focus state adds a box-shadow to the top and bottom of the
      // button. We add a grey box-shadow on hover too, to make the height of
      // the hover state match the height of the focus state.
      box-shadow:
        0 -2px $govuk-accordion-hover-colour,
        0 4px $govuk-accordion-hover-colour;

      .#{$selector}__chevron {
        color: $govuk-accordion-base-colour;
        background: $govuk-accordion-base-colour;
      }

      .#{$selector}__chevron::after {
        color: $govuk-accordion-hover-colour;
      }
    }

    &:focus {
      @include govuk-focused-text;

      .#{$selector}__chevron {
        background: $govuk-accordion-base-colour;
      }

      .#{$selector}__chevron::after {
        color: $govuk-accordion-icon-focus-colour;
      }
    }

    // Add space between the icon and text. Avoid applying spacing directly to
    // the icon as the use of `transform` will change the placement of any
    // margins.
    .#{$selector}__toggle-button-text {
      margin-left: govuk-spacing(1);
      vertical-align: middle;
    }
  }

  // Create Chevron icon aligned with text
  &__chevron {
    box-sizing: border-box;
    display: inline-block;

    position: relative;

    // Set size using rems so icon scales with text
    width: govuk-px-to-rem(20px);
    height: govuk-px-to-rem(20px);

    border: govuk-px-to-rem(1px) solid;
    border-radius: 50%;

    vertical-align: middle;

    // Create inner chevron arrow
    &::after {
      content: "";
      box-sizing: border-box;
      display: block;

      position: absolute;
      bottom: govuk-px-to-rem(5px);
      left: govuk-px-to-rem(6px);

      width: govuk-px-to-rem(6px);
      height: govuk-px-to-rem(6px);

      transform: rotate(-45deg);

      border-top: govuk-px-to-rem(2px) solid;
      border-right: govuk-px-to-rem(2px) solid;
    }
  }

  // Rotate icon to create "Down" version
  &__chevron--down {
    transform: rotate(180deg);
  }
}
